################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataCollector/TestScadaDBConnection/App.config
/DataCollector/DataCollector.Api/app.config
